In [3]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt
import seaborn as sns
from sqlalchemy import create_engine

In [150]:
#Se importa la tabla sucursal
data = pd.read_csv("1-week-individual-project/sucursal.csv")
data.head()

,id,comercioId,banderaId,banderaDescripcion,comercioRazonSocial,provincia,localidad,direccion,lat,lng,sucursalNombre,sucursalTipo
0,1-1-7,1,1,Super MAMI,Dinosaurio S.A.,AR-X,SALSIPUEDES,E53 1011 None,-31.126667,-64.295250,Super Mami 4,Hipermercado
1,10-1-1,10,1,Hipermercado Carrefour,INC S.A.,AR-B,San Isidro,Bernardo De Irigoyen 2647,-34.491345,-58.589025,San Isidro,Hipermercado
2,10-1-10,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Hurlingham,Av. Vergara 1910,-34.620610,-58.633769,Villa Tesei,Hipermercado
3,10-1-11,10,1,Hipermercado Carrefour,INC S.A.,AR-B,Malvinas Argentinas,Av. Arturo Illia 3770,-34.528883,-58.701631,Malvinas Argentinas,Hipermercado
4,10-1-112,10,1,Hipermercado Carrefour,INC S.A.,AR-A,Salta,20 De Febrero 37,-24.789072,-65.413699,Salta,Hipermercado

In [151]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2333 entries, 0 to 2332
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   2333 non-null   object
 1   comercioId           2333 non-null   int64
 2   banderaId            2333 non-null   int64
 3   banderaDescripcion   2333 non-null   object
 4   comercioRazonSocial  2333 non-null   object
 5   provincia            2333 non-null   object
 6   localidad            2333 non-null   object
 7   direccion            2333 non-null   object
 8   lat                  2333 non-null   float64
 9   lng                  2333 non-null   float64
 10  sucursalNombre       2333 non-null   object
 11  sucursalTipo         2333 non-null   object
dtypes: float64(2), int64(2), object(8)
memory usage: 218.8+ KB

In [152]:

print(data.loc[1345])

id                                    15-1-450
comercioId                                  15
banderaId                                    1
banderaDescripcion           Supermercados DIA
comercioRazonSocial          DIA Argentina S.A
provincia                                 AR-C
localidad                      Capital Federal
direccion              Av Gral. Las Heras 2421
lat                                 -34.586393
lng                                  -58.39829
sucursalNombre                  450 - Recoleta
sucursalTipo                      Autoservicio
Name: 1345, dtype: object

In [153]:
#Se usa split para quitar los delimiter y posteriormente trabar con int para conectar los id de de sucursales entre tablas.
dataid=data['id'].str.split('-', expand=True)
dataid.head(50)

     0  1    2
0    1  1    7
1   10  1    1
2   10  1   10
3   10  1   11
4   10  1  112
5   10  1   12
6   10  1  123
7   10  1  128
8   10  1  136
9   10  1  139
10  10  1  142
11  10  1  147
12  10  1  149
13  10  1   15
14  10  1  156
15  10  1  157
16  10  1  159
17  10  1   16
18  10  1  161
19  10  1  162
20  10  1   17
21  10  1  171
22  10  1  175
23  10  1  178
24  10  1  179
25  10  1   18
26  10  1  180
27  10  1  183
28  10  1    2
29  10  1  204
30  10  1   21
31  10  1  210
32  10  1  214
33  10  1  217
34  10  1  219
35  10  1   22
36  10  1  220
37  10  1  227
38  10  1  229
39  10  1   23
40  10  1  231
41  10  1  232
42  10  1  233
43  10  1  234
44  10  1  235
45  10  1  239
46  10  1   24
47  10  1  240
48  10  1  241
49  10  1   25

In [161]:
#Seconvierte a str y se juntan las columnas
dataid2=dataid["all"]=dataid[0].astype(str)+dataid[1].astype(str)+dataid[2].astype(str)
dataid2

0          117
1         1011
2        10110
3        10111
4       101112
         ...
2328    935277
2329    935626
2330    935961
2331     93628
2332     93662
Length: 2333, dtype: object

In [164]:
#Se crea la columna
data['IdSucursal']=dataid2

In [165]:
#Se genera la coneccion con el server de sql 
my_conn=create_engine("mysql+mysqldb://root:"miclave"@localhost/Workshop_1")

In [39]:
#Se prueba conexion ejecutando un comando de MySQL en python
r_set=my_conn.execute("SHOW TABLES");
for row in r_set:
    print(row)

('sucursal',)
('Tipo',)

In [169]:
#Pasar el archivo a sql
data.to_sql(con=my_conn,name='Sucursal',if_exists='replace',index=False)

2333

In [180]:
#Se importa primera tabla de precios
precios1 = pd.read_csv("/Users/Shared/CVS_Files/1-week-individual-project/precios_semana_20200413.csv",encoding="utf-16")
precios1.head(20)

    precio    producto_id sucursal_id
0    29.90  0000000001663     2-1-014
1    29.90  0000000002288     2-1-032
2    39.90  0000000002288     2-1-096
3   499.99  0000000205870     9-1-686
4   519.99  0000000205870     9-2-248
5   539.99  0000000205870      9-2-42
6   539.99  0000000205870     9-3-628
7   589.99  0000000205894     9-1-686
8   189.99  0000000205955     9-1-686
9   104.99  0000000205979     9-1-686
10  259.99  0000000206020     9-1-686
11  279.99  0000000206044     9-1-686
12  229.99  0000000206051     9-1-686
13  459.99  0000000206105     9-1-686
14  389.99  0000000206136     9-1-686
15  299.99  0000000206143     9-1-686
16  339.99  0000000206181     9-1-686
17  339.99  0000000206198     9-1-686
18  369.99  0000000206235     9-1-686
19  399.99  0000000206280     9-1-686

In [181]:
#Se importa la segunda tabla de precios
precios2=pd.read_json("/Users/Shared/CVS_Files/1-week-individual-project/precios_semana_20200503.json")
precios2.head(20)

    precio    producto_id sucursal_id
0     29.9  0000000002288     2-1-187
1     39.9  0000000002288     2-3-247
2   499.99  0000000205870     9-1-685
3   539.99  0000000205870      9-2-22
4   519.99  0000000205870      9-2-59
5   539.99  0000000205870     9-3-138
6   589.99  0000000205894     9-1-685
7   189.99  0000000205955     9-1-685
8   104.99  0000000205979     9-1-685
9      229  0000000206020     9-1-685
10  279.99  0000000206044     9-1-685
11  229.99  0000000206051     9-1-685
12  459.99  0000000206105     9-1-685
13  389.99  0000000206136     9-1-685
14  299.99  0000000206143     9-1-685
15  339.99  0000000206181     9-1-685
16  339.99  0000000206198     9-1-685
17  369.99  0000000206235     9-1-685
18  399.99  0000000206280     9-1-685
19  414.99  0000000206297     9-1-685

In [182]:
#Se importa la tercera tabla de precios
precios3=pd.read_excel("/Users/Shared/CVS_Files/1-week-individual-project/precios_semanas_20200419_20200426.xlsx")
precios3.head(20)

     precio sucursal_id  producto_id
0     399.0     2-1-092       2288.0
1     299.0     2-1-206       2288.0
2     399.0     2-2-241       2288.0
3   49999.0     9-1-430     205870.0
4   53999.0       9-2-4     205870.0
5   53999.0    9-3-5218     205870.0
6   58999.0     9-1-430     205894.0
7   18999.0     9-1-430     205955.0
8   10499.0     9-1-430     205979.0
9    2290.0     9-1-430     206020.0
10  27999.0     9-1-430     206044.0
11   2190.0     9-1-691     206044.0
12  22999.0     9-1-430     206051.0
13  45999.0     9-1-430     206105.0
14  38999.0     9-1-430     206136.0
15  29999.0     9-1-430     206143.0
16   2890.0     9-1-691     206143.0
17  33999.0     9-1-430     206181.0
18  33999.0     9-1-430     206198.0
19  36999.0     9-1-430     206235.0

In [183]:
precios1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 472166 entries, 0 to 472165
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       472153 non-null  float64
 1   producto_id  472151 non-null  object
 2   sucursal_id  472151 non-null  object
dtypes: float64(1), object(2)
memory usage: 10.8+ MB

In [184]:
precios2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397734 entries, 0 to 397733
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       397734 non-null  object
 1   producto_id  397734 non-null  object
 2   sucursal_id  397734 non-null  object
dtypes: object(3)
memory usage: 9.1+ MB

In [185]:
precios3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478909 entries, 0 to 478908
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   precio       477173 non-null  float64
 1   sucursal_id  478909 non-null  object
 2   producto_id  465390 non-null  float64
dtypes: float64(2), object(1)
memory usage: 11.0+ MB

In [186]:
#Se juntan las 3 tablas de precios
precio=pd.concat([precios1,precios2,precios3])

In [193]:
precio.tail(100)

         precio      producto_id sucursal_id
478809   1799.0  9002490203306.0      49-1-2
478810   1799.0  9002490203306.0      50-1-2
478811   3200.0  9002490203306.0     9-1-903
478812   3290.0  9002490203306.0       9-2-4
478813   3290.0  9002490203306.0     9-3-138
...         ...              ...         ...
478904  13999.0  9569753142128.0      25-1-1
478905   3499.0  9795403001143.0      25-1-1
478906   3125.0  9990385651922.0       5-1-3
478907   3125.0  9990385651939.0       5-1-3
478908   1989.0  9990385651946.0       5-1-3

[100 rows x 3 columns]

In [ ]:
#Automatizar
#Para automatizar se importa el nuevo conjunto de datos de precios
precios_cualquiera=pd.read_csv("/Users/Shared/CVS_Files/1-week-individual-project/precios_semana_20200518.txt",sep="|")
precios_cualquiera.head(20)

In [ ]:
#Automatizar

precio_produc=precios_cualquiera['producto_id'].str.split('-', expand=True)
precio_produc.head()

In [ ]:
#Se resuelve caso en el que producto_id no pueda ser int por separadores.
producto_product_final=precio_produc.apply(lambda row: row[0] if row[2] == None else row[2], axis=1)
precios_cualquiera["producto_id_key"]=producto_product_final

In [ ]:
#Automatizar
#Se concatena la nueva tabla
precio=pd.concat([precio,precios_cualquiera])

In [201]:
#Automatizar
#Usamos sql para que sucursal_id conserve su tipo Varchar para mantener el foreing key
r_set=my_conn.execute("ALTER TABLE Precios_Semanas MODIFY COLUMN sucursal_id varchar(250);");

In [ ]:
#Se termina automatizacion con un = precio.to_sql(con=my_conn,name='Precios_Semanas',if_exists='replace',index=False)

In [ ]:
r_set=my_conn.execute("SET FOREIGN_KEY_CHECKS=0;");

In [202]:
#Se genero el foreing key
r_set=my_conn.execute("ALTER TABLE Precios_Semanas ADD FOREIGN KEY (sucursal_id) REFERENCES Sucursal(id);");

IntegrityError: (MySQLdb._exceptions.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`workshop_1`.`#sql-319_23`, CONSTRAINT `precios_semanas_ibfk_1` FOREIGN KEY (`sucursal_id`) REFERENCES `sucursal` (`id`))')
[SQL: ALTER TABLE Precios_Semanas ADD FOREIGN KEY (sucursal_id) REFERENCES Sucursal(id);]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [205]:
#Se sube a el database los datos de precio actualizados
precio.to_sql(con=my_conn,name='Precios_Semanas',if_exists='replace',index=False)

1348809

In [221]:
#Se lee el archivo parque que contiene la table de productos
producto=pd.read_parquet("/Users/Shared/CVS_Files/1-week-individual-project/producto.parquet",)

In [222]:
producto.tail(50)

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3
71988,9-3-0000000991247,SIN MARCA,Cuadril en Bandeja 1 Kg,1.0 un,None,None,None
71989,9-3-0000000991254,SIN MARCA,Palomita en Bandeja 1 Kg,1.0 kg,None,None,None
71990,9-3-0000000991278,SIN MARCA,Peceto de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None
71991,9-3-0000000991285,SIN MARCA,Milanesa de Nalga en Bandeja 1 Kg,1.0 kg,None,None,None
71992,9-3-0000000991292,SIN MARCA,Bola de Lomo Novillo Bandeja 1 Kg,1.0 kg,None,None,None
71993,9-3-0000000991308,SIN MARCA,Milanesa de Cuadrada de Novillo 1 Kg,1.0 kg,None,None,None
71994,9-3-0000000991339,SIN MARCA,Bollo de Paleta en Bandeja 1 Kg,1.0 kg,None,None,None
71995,9-3-0000000991346,SIN MARCA,Tapa de Paleta Novillo en Bandeja 1 Kg,1.0 kg,None,None,None
71996,9-3-0000000991353,SIN MARCA,Tapa de Nalga Novillito en Bandeja 1 Kg,1.0 kg,None,None,None
71997,9-3-0000000991384,SIN MARCA,Costeletas Veteadas en Bandeja 1 Kg,1.0 kg,None,None,None
71998,9-3-0000000991391,SIN MARCA,Carne Molida Especial de Novillo 1 Kg,1.0 kg,None,None,None
71999,9-3-0000000991414,SIN MARCA,Osobuco de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None
72000,9-3-0000000991421,SIN MARCA,Cogote de Novillo Espinazo 1 Kg,1.0 kg,None,None,None
72001,9-3-0000000991445,SIN MARCA,Punta de Espalda Bandeja 1 Kg,1.0 kg,None,None,None
72002,9-3-0000000991452,SIN MARCA,Vacio Novillo en Bandeja 1 Kg,1.0 kg,None,None,None
72003,9-3-0000000991469,SIN MARCA,Costillas de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None
72004,9-3-0000000991483,SIN MARCA,Asado del Carnicero en Bandeja 1 Kg,1.0 kg,None,None,None
72005,9-3-0000000992138,SIN MARCA,Costeletas Lisas en Bandeja 1 Kg,1.0 kg,None,None,None
72006,9-3-0000000992251,SIN MARCA,Durazno Amarillo Comercial 1 Kg,1.0 kg,None,None,None
72007,9-3-0000000992398,SIN MARCA,Banana 1 Kg,1.0 kg,None,None,None
72008,9-3-0000000992725,SIN MARCA,Repollo Blanco 1 Kg,1.0 kg,None,None,None
72009,9-3-0000000992770,SIN MARCA,Aji 1 Kg,1.0 kg,None,None,None
72010,9-3-0000000992794,SIN MARCA,Tomate Redondo Grande 1 Kg,1.0 kg,None,None,None
72011,9-3-0000000992855,SIN MARCA,Zapallito Redondo 1 Kg,1.0 kg,None,None,None
72012,9-3-0000000994002,SIN MARCA,Tapa de Asado Carne Vacuna en Bandeja 1 Kg,1.0 kg,None,None,None
72013,9-3-0000000995696,PAMPA CHEESE,Queso Mozzarella en Sobre Pampa Cheese 1 Kg,1.0 kg,None,None,None
72014,9-3-0000000997096,SIN MARCA,Alas de Pollo 1 Kg,1.0 kg,None,None,None
72015,9-3-0000000997126,SIN MARCA,Carne Comun Molida Novillo 1 Kg,1.0 kg,None,None,None
72016,9-3-0000000999137,LA HACIEDA BANDEJA,Asado Especial del Centro Congelado en Bandeja...,1.0 kg,None,None,None
72017,9002490100070,RED BULL,Bebida Energizante en Lata Red Bull 250 Cc,250.0 cc,None,None,None
72018,9002490203306,RED BULL,Bebida Energizante Red Bull Pack 4 Un 1 Lt,1.0 lt,None,None,None
72019,9002490216108,RED BULL,Energizante Red Bull 250 Cc,250.0 cc,None,None,None
72020,9002490232054,RED BULL,Bebidas Energizantes Sugar Free Red Bull Pack ...,1.0 lt,None,None,None
72021,9002490435226,RED BULL,Energy Drink con Azucar Red Bull 355 Ml,355.0 ml,None,None,None
72022,9005801101919,NIVEA,Bronceador con Zanahoria Nivea Sun 200 Ml,200.0 ml,None,None,None
72023,9006234000107,SPEED,Bebida Energizante Speed Unlimited 250 Ml,250.0 ml,None,None,None
72024,9006234000114,SPEED,Bebida Energizante Speed Unlimited Pack 4 Un 1 Lt,1.0 lt,None,None,None
72025,9012200001245,MILKA,Chocolate Milka Noisette 300 Gr,300.0 gr,None,None,None
72026,9012200872739,MILKA,Chocolate Milka Choco swing 300 Gr,300.0 gr,None,None,None
72027,9044400841000,PEZ,Pastillero Lheritier Pez en Blister 4 Un,4.0 un,None,None,None
72028,9044400841017,SIN MARCA,Pastillas Nenas Pez 25.5 Gr,25.5 gr,None,None,None
72029,9044400841024,PEZ,Pastillero y Recarga Pez Cars 1 Un,1.0 un,None,None,None
72030,9312631127591,DILMAH,Te en Saquitos Variety Pack Dilmah 25 Un,25.0 un,None,None,None
72031,9312631143560,DILMAH,Te en Saquitos Variety Frutal Dilmah 20 Un,20.0 un,None,None,None
72032,9312631144451,DILMAH,Te Green en Saquitos Variety Pack Dilmah 20 Un,20.0 un,None,None,None
72033,9569753142128,DELI-SITAS,Milhojas Cobertura de Chocolate Blanco Deli-Si...,500.0 gr,None,None,None
72034,9795403001143,MAYO,Mini Pizzetas Mayo 12 Un,12.0 un,None,None,None
72035,9990385651922,DANA,Te Negro en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None
72036,9990385651939,DANA,Te Verde en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None
72037,9990385651946,DANA,Yerba Mate Aromatizada Lata Dana 150 Gr,150.0 gr,None,None,None

In [223]:
producto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            72038 non-null  object
 1   marca         72036 non-null  object
 2   nombre        72036 non-null  object
 3   presentacion  72036 non-null  object
 4   categoria1    4 non-null      object
 5   categoria2    4 non-null      object
 6   categoria3    4 non-null      object
dtypes: object(7)
memory usage: 3.8+ MB

In [89]:
#producto=producto.replace('-','', inplace = True)

In [224]:
#Para usar integers por cuestiones de optimizacion en los id se sacan los separadores con el mismo metodo que en la tabla de precios
producto12=producto['id'].str.split('-', expand=True)
producto12.tail(50)

                   0     1              2
71988              9     3  0000000991247
71989              9     3  0000000991254
71990              9     3  0000000991278
71991              9     3  0000000991285
71992              9     3  0000000991292
71993              9     3  0000000991308
71994              9     3  0000000991339
71995              9     3  0000000991346
71996              9     3  0000000991353
71997              9     3  0000000991384
71998              9     3  0000000991391
71999              9     3  0000000991414
72000              9     3  0000000991421
72001              9     3  0000000991445
72002              9     3  0000000991452
72003              9     3  0000000991469
72004              9     3  0000000991483
72005              9     3  0000000992138
72006              9     3  0000000992251
72007              9     3  0000000992398
72008              9     3  0000000992725
72009              9     3  0000000992770
72010              9     3  0000000992794
72011              9     3  0000000992855
72012              9     3  0000000994002
72013              9     3  0000000995696
72014              9     3  0000000997096
72015              9     3  0000000997126
72016              9     3  0000000999137
72017  9002490100070  None           None
72018  9002490203306  None           None
72019  9002490216108  None           None
72020  9002490232054  None           None
72021  9002490435226  None           None
72022  9005801101919  None           None
72023  9006234000107  None           None
72024  9006234000114  None           None
72025  9012200001245  None           None
72026  9012200872739  None           None
72027  9044400841000  None           None
72028  9044400841017  None           None
72029  9044400841024  None           None
72030  9312631127591  None           None
72031  9312631143560  None           None
72032  9312631144451  None           None
72033  9569753142128  None           None
72034  9795403001143  None           None
72035  9990385651922  None           None
72036  9990385651939  None           None
72037  9990385651946  None           None

In [225]:
producto13=producto12.apply(lambda row: row[0] if row[2] == None else row[0]+row[1]+row[2], axis=1)

In [226]:
producto13

0        0000000001663
1        0000000002288
2        0000000205870
3        0000000205894
4        0000000205955
             ...
72033    9569753142128
72034    9795403001143
72035    9990385651922
72036    9990385651939
72037    9990385651946
Length: 72038, dtype: object

In [43]:
#producto12=producto12.apply(lambda row: row[0] if row[2] == None else row[2], axis=1)

In [227]:
producto["IdProducto"]=producto13

In [228]:
producto.tail(50)

,id,marca,nombre,presentacion,categoria1,categoria2,categoria3,IdProducto
71988,9-3-0000000991247,SIN MARCA,Cuadril en Bandeja 1 Kg,1.0 un,None,None,None,930000000991247
71989,9-3-0000000991254,SIN MARCA,Palomita en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991254
71990,9-3-0000000991278,SIN MARCA,Peceto de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991278
71991,9-3-0000000991285,SIN MARCA,Milanesa de Nalga en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991285
71992,9-3-0000000991292,SIN MARCA,Bola de Lomo Novillo Bandeja 1 Kg,1.0 kg,None,None,None,930000000991292
71993,9-3-0000000991308,SIN MARCA,Milanesa de Cuadrada de Novillo 1 Kg,1.0 kg,None,None,None,930000000991308
71994,9-3-0000000991339,SIN MARCA,Bollo de Paleta en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991339
71995,9-3-0000000991346,SIN MARCA,Tapa de Paleta Novillo en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991346
71996,9-3-0000000991353,SIN MARCA,Tapa de Nalga Novillito en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991353
71997,9-3-0000000991384,SIN MARCA,Costeletas Veteadas en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991384
71998,9-3-0000000991391,SIN MARCA,Carne Molida Especial de Novillo 1 Kg,1.0 kg,None,None,None,930000000991391
71999,9-3-0000000991414,SIN MARCA,Osobuco de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991414
72000,9-3-0000000991421,SIN MARCA,Cogote de Novillo Espinazo 1 Kg,1.0 kg,None,None,None,930000000991421
72001,9-3-0000000991445,SIN MARCA,Punta de Espalda Bandeja 1 Kg,1.0 kg,None,None,None,930000000991445
72002,9-3-0000000991452,SIN MARCA,Vacio Novillo en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991452
72003,9-3-0000000991469,SIN MARCA,Costillas de Novillo en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991469
72004,9-3-0000000991483,SIN MARCA,Asado del Carnicero en Bandeja 1 Kg,1.0 kg,None,None,None,930000000991483
72005,9-3-0000000992138,SIN MARCA,Costeletas Lisas en Bandeja 1 Kg,1.0 kg,None,None,None,930000000992138
72006,9-3-0000000992251,SIN MARCA,Durazno Amarillo Comercial 1 Kg,1.0 kg,None,None,None,930000000992251
72007,9-3-0000000992398,SIN MARCA,Banana 1 Kg,1.0 kg,None,None,None,930000000992398
72008,9-3-0000000992725,SIN MARCA,Repollo Blanco 1 Kg,1.0 kg,None,None,None,930000000992725
72009,9-3-0000000992770,SIN MARCA,Aji 1 Kg,1.0 kg,None,None,None,930000000992770
72010,9-3-0000000992794,SIN MARCA,Tomate Redondo Grande 1 Kg,1.0 kg,None,None,None,930000000992794
72011,9-3-0000000992855,SIN MARCA,Zapallito Redondo 1 Kg,1.0 kg,None,None,None,930000000992855
72012,9-3-0000000994002,SIN MARCA,Tapa de Asado Carne Vacuna en Bandeja 1 Kg,1.0 kg,None,None,None,930000000994002
72013,9-3-0000000995696,PAMPA CHEESE,Queso Mozzarella en Sobre Pampa Cheese 1 Kg,1.0 kg,None,None,None,930000000995696
72014,9-3-0000000997096,SIN MARCA,Alas de Pollo 1 Kg,1.0 kg,None,None,None,930000000997096
72015,9-3-0000000997126,SIN MARCA,Carne Comun Molida Novillo 1 Kg,1.0 kg,None,None,None,930000000997126
72016,9-3-0000000999137,LA HACIEDA BANDEJA,Asado Especial del Centro Congelado en Bandeja...,1.0 kg,None,None,None,930000000999137
72017,9002490100070,RED BULL,Bebida Energizante en Lata Red Bull 250 Cc,250.0 cc,None,None,None,9002490100070
72018,9002490203306,RED BULL,Bebida Energizante Red Bull Pack 4 Un 1 Lt,1.0 lt,None,None,None,9002490203306
72019,9002490216108,RED BULL,Energizante Red Bull 250 Cc,250.0 cc,None,None,None,9002490216108
72020,9002490232054,RED BULL,Bebidas Energizantes Sugar Free Red Bull Pack ...,1.0 lt,None,None,None,9002490232054
72021,9002490435226,RED BULL,Energy Drink con Azucar Red Bull 355 Ml,355.0 ml,None,None,None,9002490435226
72022,9005801101919,NIVEA,Bronceador con Zanahoria Nivea Sun 200 Ml,200.0 ml,None,None,None,9005801101919
72023,9006234000107,SPEED,Bebida Energizante Speed Unlimited 250 Ml,250.0 ml,None,None,None,9006234000107
72024,9006234000114,SPEED,Bebida Energizante Speed Unlimited Pack 4 Un 1 Lt,1.0 lt,None,None,None,9006234000114
72025,9012200001245,MILKA,Chocolate Milka Noisette 300 Gr,300.0 gr,None,None,None,9012200001245
72026,9012200872739,MILKA,Chocolate Milka Choco swing 300 Gr,300.0 gr,None,None,None,9012200872739
72027,9044400841000,PEZ,Pastillero Lheritier Pez en Blister 4 Un,4.0 un,None,None,None,9044400841000
72028,9044400841017,SIN MARCA,Pastillas Nenas Pez 25.5 Gr,25.5 gr,None,None,None,9044400841017
72029,9044400841024,PEZ,Pastillero y Recarga Pez Cars 1 Un,1.0 un,None,None,None,9044400841024
72030,9312631127591,DILMAH,Te en Saquitos Variety Pack Dilmah 25 Un,25.0 un,None,None,None,9312631127591
72031,9312631143560,DILMAH,Te en Saquitos Variety Frutal Dilmah 20 Un,20.0 un,None,None,None,9312631143560
72032,9312631144451,DILMAH,Te Green en Saquitos Variety Pack Dilmah 20 Un,20.0 un,None,None,None,9312631144451
72033,9569753142128,DELI-SITAS,Milhojas Cobertura de Chocolate Blanco Deli-Si...,500.0 gr,None,None,None,9569753142128
72034,9795403001143,MAYO,Mini Pizzetas Mayo 12 Un,12.0 un,None,None,None,9795403001143
72035,9990385651922,DANA,Te Negro en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None,9990385651922
72036,9990385651939,DANA,Te Verde en Hebras Lata Dana 50 Gr,50.0 gr,None,None,None,9990385651939
72037,9990385651946,DANA,Yerba Mate Aromatizada Lata Dana 150 Gr,150.0 gr,None,None,None,9990385651946

In [229]:
del producto["id"]

In [230]:
producto.rename(columns={'IdProducto': 'IdProducto', 'marca': 'Marca','nombre': 'Producto','presentacion': 'Unidad_de_Presentacion','categoria1': 'c1','categoria2': 'c2','categoria3': 'c3'}, inplace=True)

In [231]:
producto.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72038 entries, 0 to 72037
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Marca                   72036 non-null  object
 1   Producto                72036 non-null  object
 2   Unidad_de_Presentacion  72036 non-null  object
 3   c1                      4 non-null      object
 4   c2                      4 non-null      object
 5   c3                      4 non-null      object
 6   IdProducto              72038 non-null  object
dtypes: object(7)
memory usage: 3.8+ MB

In [142]:
producto = producto[producto.c1.notna()]
print(producto)

          IdProducto    Marca                                     Producto  \
14903  7501001165260  PANTENE  Acondicionador Liso y Sedoso Pantene 400 Ml
53619  7798024299045     None                                         None
55798  7798061190213     None                                         None
65297  7798183771123    GRIDO                Helado en Pote Tentacion 1 Lt

      Unidad_de_Presentacion                             c1               c2  \
14903               400.0 ml  Perfumería y Cuidado Personal  Cuidado Capilar
53619                   None                        Almacén          Aceites
55798                   None                        Almacén          Aceites
65297                 1.0 lt           Alimentos Congelados          Helados

                     c3
14903  Acondicionadores
53619           Aerosol
55798             Oliva
65297           Helados

In [232]:
#Se utiliza un encoding utf8mb4 en el engine
my_conn=create_engine("mysql+mysqldb://root:"miclave"@localhost/Workshop_1?charset=utf8mb4")

In [233]:
#Pasa el valor a la base de datos
producto.to_sql(con=my_conn,name='Producto',if_exists='replace',index=False)

72038